
# Dependencies
node_modules/
.history/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build output
dist/
build/

# IDE specific files
.idea/
.vscode/
*.sw*
.DS_Store

# Uploads
public/uploads/ 